<div class="container" *ngFor="let data of data">
  <div class="row">
    <img src="{{data.src}}">
    <img src="{{data.src}}">
    <img src="{{data.src}}">
    <img src="{{data.src}}">
    <img src="{{data.src}}">
  </div>
  <div class="row">
    <img src="{{data.src}}">
    <img src="{{data.src}}">
    <img src="{{data.src}}">
    <img src="{{data.src}}">
    <img src="{{data.src}}">
  </div>
  <div class="row">
    <img src="{{data.src}}">
    <img src="{{data.src}}">
    <img src="{{data.src}}">
    <img src="{{data.src}}">
    <img src="{{data.src}}">
  </div>
</div>
